<div class="row-fluid">
  <div class="span3 pull-left" style="text-align:right">
    {{view.propNameUnderscored}}
  </div>
  <div class="span9 pull-right">
    <div class="row-fluid">
    {{#if view.showDropDown}}
      <div class="span6">
        <div class="control-group">
          <div class="controls">
            {{view Ember.Select class="col-xs-3 item_filter from" contentBinding=view.allowedValues valueBinding=view.min}}
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="control-group">
          <div class="controls">
            {{view Ember.Select class="col-xs-3 item_filter to" contentBinding=view.allowedValues valueBinding=view.max}}
          </div>
        </div>
      </div>
    {{else}}
      <div class="span6">
        <div class="control-group">
          <div class="controls">
            {{view Ember.TextField type="text" valueBinding=view.min class="col-xs-3 item_filter from"}}
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="control-group">
          <div class="controls">
            {{view Ember.TextField type="text" valueBinding=view.max class="col-xs-3 item_filter to" style="float:left;"}}
          </div>
        </div>
      </div>

    {{/if}}
    </div>
  </div>
</div>