<div class="row-fluid" style='float:left;width:50%;min-height:61px;'>
  <div style="display:none;">
    {{view.propNameUnderscored}}
  </div>
  <div class="pull-left" style="text-align:right;width: 15%;float: left;word-wrap: break-word;margin-left:0;">
    {{sliceAttr 'view' 'propName'}} :
  </div>
  <div class="pull-right" style='width:85%;margin-left:0;'>
    <div class="row-fluid" style='padding-left:5%;'>
      <div style="margin-left:0;width:45%;float:left;">
        <div class="control-group">
          <div class="controls">
            {{#if view.showDropDown}}
              {{view Ember.Select class="item_filter input-medium multiselectclass discrete multiselect multiselect-all multiselect-search" contentBinding=view.modifiedAllowedValues optionValuePath=content.value optionLabelPath=content.label selectionBinding=view.modifiedAllowedValues multiple='true'}}
            {{else}}
              {{view Ember.TextField type="text" class="item_filter input-medium discrete"}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>