<div class="row-fluid">
  <div class="span3 pull-left" style="text-align:right">
    {{view.content.prop_name}}
  </div>
  <div class="span9 pull-right">
  	<div class="row-fluid">
      {{view.content.min}}
      <input id="ex2" type="text" class="span6 slider_for_enum" value="" style="display:none;" {{bindAttr data-slider-min=view.content.min data-slider-max=view.content.max }}/>
      {{view.content.max}}
  	</div>
    <div class="row-fluid">
      <div class="span6">
      	{{view Ember.TextField classBinding="input-small" idBinding='view.content.min'  valueBinding="view.content.min"}} 
      </div>
      <div class="span6">
      	{{view Ember.TextField classBinding="input-small" idBinding='view.content.max'  valueBinding="view.content.max"}} 
      </div>
    </div>
  </div>
</div>