<div class="row-fluid" style='float:left;width:50%;min-height:61px;'>
  <div style="display:none;">
    {{view.propNameUnderscored}}
  </div>
  <div class="pull-left" style="text-align:right;width: 15%;float: left;word-wrap: break-word;margin-left:0;">
    {{sliceAttr 'view' 'propName'}} :
  </div>
  <div class="pull-right" style='width:85%;margin-left:0;'>
    <div class="row-fluid" style='padding-left:5%;'>
    {{#if view.showDropDown}}
      <div style="margin-left:0;width:45%;float:left;">
        <div class="control-group">
          <div class="controls">
            {{view Ember.Select class="item_filter from input-medium" contentBinding=view.modifiedAllowedValues optionValuePath=content.value optionLabelPath=content.label selectionBinding=view.modifiedAllowedValuesMinSelection}}
          </div>
        </div>
      </div>
      <div style="margin-left:10%;width:45%;float:left">
        <div class="control-group">
          <div class="controls">
            {{view Ember.Select class="item_filter to input-medium" contentBinding=view.modifiedAllowedValues selectionBinding=view.modifiedAllowedValuesMaxSelection optionValuePath=content.value optionLabelPath=content.label}}
          </div>
        </div>
      </div>
    {{else}}
      <div style="margin-left:0;width:45%;float:left;">
        <div class="control-group">
          <div class="controls">
            {{view Ember.TextField type="text" valueBinding=view.min class="item_filter from input-medium"}}
          </div>
        </div>
      </div>
      <div style="margin-left:10%;width:45%;float:left">
        <div class="control-group">
          <div class="controls">
            {{view Ember.TextField type="text" valueBinding=view.max class="item_filter to input-medium" style="float:left;"}}
          </div>
        </div>
      </div>
    {{/if}}
    </div>
  </div>
</div>